.footer {
  margin: 60px auto;
  width: 100%;
  max-width: 1600px;
}

.footerInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
}

.shopot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }
}

.rsschool {
  img {
    width: 100%;
    max-width: 80px;
  }

  &:hover {
    opacity: .7;
  }
}