.card {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.image {
  img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
  }
}

.body {
  padding: 15px;
}

.title {
  font-weight: 700;
}

.by {
  margin-top: 10px;
  color: gray;

  span {
    font-weight: 600;
    color: rgb(204, 0, 0);
  }
}

.info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.statsIcon {
  margin-right: 4px;
  color: gray;
  display: inline-block;
  height: 14px;
}

.stats,
.addedAt {
  color: gray;
  font-size: 14px;
}