.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navLink {
  padding: 0;
  text-decoration: none;

  &:not(.navLinkActive):hover {
    opacity: .7;
  }
}

.navLinkActive {
  text-decoration: underline;
}