.wrapper {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.searchInputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  fill: currentColor;
  transition: color .5s;
  stroke-width: 1.6;
  top: 10px;
  left: 10px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: rgba(60, 60, 67, 0.7);
}

.searchInput {
  display: inline-block;
  outline: none;
  height: 32px;
  line-height: 32px;
  padding-left: 30px;
  border: 1px solid rgba(60, 60, 67, .12);
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 575.98px) {
  .wrapper {
    button {
      display: none;
    }
  }
}